streamlit
audio_recorder_streamlit
openai
python-dotenv
boto3
google-generativeai
firebase_admin
snowflake-connector-python
streamlit-option-menu
langchain
langchain-community
tiktoken
pinecone-client
langchain-community
streamlit-lottie 
requests